<!DOCTYPE html>
<html>

<body>
    <script type="text/javascript">
        function checkDepositAmount() {
            var selectx = document.forms["depositForm"]["depositAmount"].value;
            if (selectx <= 0) {
                alert("Deposit amount must be more than 0.01(ETH)");
                return false;
            }
        }
    </script>
    <div>
        <br></br>
        How much do you want to deposit?
        <br></br>
        (min. amount is 0.01 ETH)
        <br></br>
        (1 deposit is possible at the time)
        <br></br>
        <form name='depositForm' action='/depositProcess' method='post' onsubmit='return checkDepositAmount()'>
            <div>
                <input name='depositAmount' step='0.01' type='number' min='0' placeholder='amount...'/>
            </div>
            <button type='submit'>DEPOSIT</button>
        </form>     
        <br>
        {{ value0 }} {{ value1 }} {{ value2 }}
        {% for message in get_flashed_messages(category_filter=['exceptErrorMsg']) %}
        <p>{{ message }}</p> {% endfor %}
        <br>        
    </div>
</body>

</html>

