<!DOCTYPE html>
<html>

<body>
    <script type="text/javascript">
        function checkDepositAmount() {
            var selectx = document.forms["importPKForm"]["inputPrivateKey"].value;
            if (selectx == "") {
                alert("Please Paste/Type Your Private Key");
                return false;
            }
        }
    </script>
    <div>
        <br></br>
        How much do you want to deposit?
        <br></br>
        (min. amount is 0.01 ETH)
        <br></br>
        (1 deposit is possible at the time)
        <br></br>
        <form name="depositForm" action="/depositProcess" method="post" onsubmit="return checkPKImport()">
            <div>
                <input name='depositAmount' step='0.01' type='number' placeholder='amount...'/>
            </div>
            <button type='submit'>DEPOSIT</button>
        </form>        
    </div>
</body>

</html>

